* {
    margin: 0px;
    padding: 0px;
    background-color: cyan;
    flex: block;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 20px;
    border-color: black;
    margin-top: 40px;
    margin-bottom: 60px;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    width: 700px;
    gap: 10px;
    width: 600px;
}

.box {
    height: 150px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    background-color: pink;
    font-size: 120px;
    /* color: orange; */
}

.reset {
    height: 40px;
    width: 100px;
    background-color: blue;
    border-radius: 20px;
}